# Enable URL rewriting

<IfModule mod_rewrite.c>
  RewriteEngine On

# If the request is not for an existing file, directory, or symbolic link, serve index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^ /index.html [L]
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  Header set Pragma "no-cache"
</IfModule>
