li {
    list-style: none;
}

#header{    
    a,button{
        text-transform: initial;

        span{
            margin: 0;
        }
    }

    #icons{
        column-gap: 16px;

        .menu-lang{
            max-height: 30px;
        }
    }
}

#hero{
    height: 100vh;
    
    .hero-row{
        @media screen and (max-width: 960px) {
            flex-direction: column-reverse;
        }

        .hero-text-container {
            @media screen and (max-width: 960px) {
                text-align: center;
            }

            .hero-text {
                font-size: 56px;

                .name{
                    font-size: 40px;

                    @media screen and (max-width: 600px) {
                        font-size: 24px;
                    }
                }

                @media screen and (max-width: 600px) {
                    font-size: 40px;
                }
            }
        }

        .hero-img {
            @media screen and (max-width: 600px) {
                max-width: 300px !important;
            }
        }

        .resume-btn {
            text-transform: capitalize;
            font-weight: bold;

            @media screen and (max-width: 960px) {
                margin: 0 auto;
            }
        }
    }
    
}

#experiences{
    .experiences-timeline{
        margin-right: 5%;

        .v-timeline-item {
            cursor: pointer;
        }

        .v-timeline-divider{
            height: 200px;
        }
    }
    .experiences-details {
        margin-left: 5%;

        .experiences-details-card{
            animation: fadeIn 1s forwards;
            @keyframes fadeIn {
                from{ 
                    opacity: 0;
                    transform: translateX(-50px);
                }
                to{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
}